<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @character.user %>
</p>

<p>
  <strong>Nombre personaje:</strong>
  <%= @character.nombre_personaje %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @character.clase %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @character.raza %>
</p>

<p>
  <strong>Alineamiento:</strong>
  <%= @character.alineamiento %>
</p>

<p>
  <strong>Deidad:</strong>
  <%= @character.deidad %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @character.tamaño %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @character.edad %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @character.sexo %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @character.altura %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @character.peso %>
</p>

<p>
  <strong>Ojos:</strong>
  <%= @character.ojos %>
</p>

<p>
  <strong>Cabello:</strong>
  <%= @character.cabello %>
</p>

<p>
  <strong>Piel:</strong>
  <%= @character.piel %>
</p>

<p>
  <strong>History:</strong>
  <%= @character.history %>
</p>

<p>
  <strong>Rasgos:</strong>
  <%= @character.rasgos %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
